/********************TAG SELECTORS*******/

/* This makes it flip */
img:hover {
  transform: scaleX(-1)
}

h1 {
  color: red;
  font-size: 50px;
}

/****************CLASS SELECTOR******/

.pho {
  border-radius: 20%;
  height: 30%;
  width: 30%;
}

.basil{
  height: 50%;
  width: 50%;
}

.circular {
  border-radius: 100%;
}

/****************ID SELECTOR******/

#heading {
  color: blue;
}
